{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>盒子制造</h1>
    <p class="lead">盒子制造是一款游戏.</p>
    <p><a href="http://tieba.baidu.com/f?kw=盒子制造" class="btn btn-primary btn-large">了解更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>游戏</h2>
        <p>
            可以在网页上畅玩游戏
        </p>
        <p><a class="btn btn-default" href="http://mario.web.yymoon.com/">开始游戏 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>贴吧</h2>
        <p>上贴吧了解更多信息</p>
        <p><a class="btn btn-default" href="http://tieba.baidu.com/f?kw=盒子制造">前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>微博</h2>
        <p>关注微博，接受最新信息</p>
        <p><a class="btn btn-default" href="http://tieba.baidu.com/f?kw=盒子制造">前往 &raquo;</a></p>
    </div>
</div>

{% endblock %}
